<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
  <%= favicon_link_tag '/favicon.ico' %>

</head>

</html>

<body>

<h1><%= t('.titre') %></h1>


	<ul>
			<strong><%= t('.quantity' ) %> - <%=  t('.film_quantity', count: @movies.count) %> </strong>
		<% @movies.each do |m| %>
	    <div style="background-color:<%= cycle("red","orange","yellow") %>">
	   	    <li>
				<%= m.titre%> <%= m.autorisation %> - <%= format_chiffre_affaire(m)%>
	         <%= format_description(m)%> <strong>Date de sortie : </strong><%= time_ago_in_words(m.date_sortie)%>
	         Date de modification de la fiche : <%= time_ago_in_words(m.updated_at) %>
	         <span style="background-color:<%= current_cycle %>"></span>
	         </li>
			<% end %>
	    </div>
    </ul>
</body>
</html>
