<h1>Show</h1>


<p><%= @movie.titre %></p>
<p><%= @movie.description %></p>
<p><%= number_to_currency(@movie.chiffre_affaire) %></p>
<p><%= @movie.autorisation %></p>
<p><%= time_ago_in_words(@movie.date_sortie) %></p>
<p><%= time_ago_in_words(@movie.created_at) %></p>
<p><%= time_ago_in_words(@movie.updated_at) %></p>








